@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap');

:root {
    --gris-claro: #3a3a3a;
    --gris-oscuro: #1E1E1E;
    --blanco: #FFFFFF;
    --azul: #3A3A8E;
    --celeste: #00FFFF;
    --rosado: #FF00CC;
    --rojo: #FF4444;
    --azul-claro: #6A8DFF;
    --rosado-pálido: #FFB3E6;
    --morado: #7A00CC;
    --verde-neón: #00FF88;
    --violeta: #ba55d3;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gris-claro);
    color: var(--blanco);
}

header nav {
    display: none;
}

header,
footer {
    display: flex;
    align-items: center;
    font-family: 'VT323', monospace;
    background-color: var(--gris-oscuro);
}

header {
    padding: 0.4em 1.2em;
    justify-content: space-between;
}

.logo {
    max-width: 100px;
    height: auto;
}

footer {
    flex-direction: column;
    gap: 0.9em;
    padding: 1.5em;
}

footer h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

footer nav {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
}

footer nav a img {
    max-width: 20px;
    height: auto;
    transition: transform 0.3s ease;
}

footer nav a:hover img,
footer nav a:focus img {
    transform: scale(1.2);
}

#btn-subir {
    background-color: var(--celeste);
    position: fixed;
    right: 0.6rem;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3em;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 0 4px var(--celeste);
}

#btn-subir img {
    width: 100%;
    height: auto;
}

#btn-subir:hover {
    background-color: var(--rosado);
    box-shadow: 0 0 4px var(--rosado);
    transform: scale(1.1);
}

#introduccion {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(img/glitchlab.png) center / cover no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

#introduccion h1 {
    font-style: italic;
}

.fondo-feria {
  background: linear-gradient(to bottom, var(--gris-oscuro), var(--gris-claro));
  padding: 2em;
}

.feria {
    text-align: center;
    margin: 1em;
    font-size: 1.35em;
}

#info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin: auto;
}

#info article {
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    border-radius: 10px;
    padding: 0.5em 1em 4em;
    margin: 1em;
    width: 85%;
    text-align: center;
    color: var(--gris-oscuro);
    position: relative;
}

#info article:nth-of-type(2n) {
    background-color: var(--violeta);
}

#info article:nth-of-type(2n+1) {
    background-color: var(--verde-neón);
}

#info img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

#info article h3 {
    font-size: 1.3em;
    margin: 0.5em 0;
}

#info article p {
    font-size: 0.9em;
    line-height: 1.3;
    margin: 1em 0;
    font-style: italic;
}

#info article a,
#galeria article a,
#suscripcion button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--gris-oscuro);
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#info article a {
    position: absolute;
    left: 50%;
    bottom: 1em;
    transform: translateX(-50%);
}

#info article a:hover,
#galeria article a:hover,
#suscripcion button:hover {
    transform: translateY(-2px);
    background-color: var(--negro);
}

.marco {
    position: relative;
}

.badge {
    position: absolute;
    top: 0.5em;
    right: -0.7em;
    background: linear-gradient(135deg, var(--rojo), var(--azul), var(--rosado));
    background-size: 300% 300%;
    animation: moverFondo 5s linear infinite;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.4em 0.7em;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black;
    transition: all 0.3s ease;
}

.badge:hover,
.badge:focus {
    transform: scale(1.05);
    background-color: var(--azul);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: default;
}

@keyframes moverFondo {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#galeria {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 2em auto;
}

#galeria>div,
#galeria>article {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#galeria>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.color1 {
    background: var(--azul);
}

.color2 {
    background: var(--rosado-pálido);
}


#galeria article {
    padding: 2em;
}

#galeria article h3,
#galeria article p {
    margin: 0.5em 0;
}

#galeria article p {
    font-size: small;
}

.impresion3d {
    background: url(img/3d.png) center / cover;
}

#actividades {
    background: url(img/salas.png) center / cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: stretch;
}

#actividades article {
    background-color: rgba(224, 219, 228, 0.582);
    color: var(--gris-oscuro);
    width: 100%;
    height: 100%;
    padding: 1.5em;
    text-align: right;
    line-height: 1.4em;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#actividades:hover article {
    transform: translateX(0);
}

#introduccion p,
#charlas img,
#charlas span,
.color-1,
#actividades,
.cosplay,
.overlay,
#galeria>.color2,
#galeria>#actividades,
#galeria>div:nth-of-type(4) {
    display: none;
}

#suscripcion {
    padding: 2em;
    background-color: var(--azul);
    text-align: center;
}

#suscripcion form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    margin: auto;
    align-items: center;
}

#suscripcion label {
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
    text-align: left;
}

#suscripcion input[type="email"] {
    padding: 0.5em;
    border: 2px solid var(--negro);
    border-radius: 10px;
    font-size: 1em;
    width: 100%;
}

/* TABLET */
@media all and (min-width:768px) {
    #hambur {
        display: none;
    }

    .logo {
        max-width: 130px;
    }

    header {
        padding: 0.1em 2.3em;
    }

    header nav {
        display: flex;
        gap: 1.5em;
    }

    header nav a {
        color: var(--blanco);
        text-decoration: none;
        font-size: 1.1em;
        transition: color 0.3s ease;
    }

    .activo,
    header nav a:hover,
    header nav a:focus {
        color: var(--rosado);
    }

    footer {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 3em 5em;
        gap: 2em;
        text-align: right;
    }

    footer h1 {
        font-size: 1.7rem;
    }

    footer nav a img {
        max-width: 24px;
    }

    #btn-subir {
        right: 1rem;
        width: 2.7rem;
        height: 2.7rem;
        padding: 0.2em;
    }

    #introduccion {
        justify-content: flex-end;
        align-items: flex-start;
        text-align: start;
        padding: 3em 2em;
    }

    #introduccion h1 {
        max-width: 490px;
        font-size: 2em
    }

    .feria {
        font-size: 1.5em;
    }

    #info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;
        padding: 1em;
        align-items: stretch;
        justify-items: center;
    }

    #info h2 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    #charlas img,
    #charlas span {
        display: block;
    }

    .cosplay {
        display: none;
    }

    #galeria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        max-width: 900px;
        margin: 2em auto;
    }

    #galeria>#actividades {
        display: flex;
    }

    #galeria>.color1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        aspect-ratio: 1 / 1;
    }

    #galeria>div:nth-of-type(2) {
        /* relleno1 */
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        aspect-ratio: 1 / 1;
    }

    #galeria>article.impresion3d {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        aspect-ratio: auto;
    }

    #galeria>#actividades {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        aspect-ratio: 3 / 1;
    }

    #suscripcion form {
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
    }

    #suscripcion .input-group {
        display: flex;
        gap: 1em;
        width: 100%;
        justify-content: center;
        max-width: 500px;
    }

    #suscripcion input[type="email"] {
        flex: 1;
        max-width: 300px;
    }

    #suscripcion button {
        white-space: nowrap;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }

    #suscripcion button:hover {
        background-color: var(--negro);
    }
}

/* ESCRITORIO */
@media all and (min-width:1024px) {

    header nav {
        gap: 2em;
    }

    header nav a {
        font-size: 1.3em;
    }

    #btn-subir {
        width: 3rem;
        height: 3rem;
    }

    #introduccion {
        overflow: hidden;
        height: 70vh;
        padding: 4.5em 7em;
    }

    #introduccion .overlay {
        display: block;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease;
        z-index: 1;
    }

    #introduccion:hover .overlay {
        background-color: rgba(122, 0, 204, 0.25);
    }

    #introduccion h1,
    #introduccion p {
        max-width: 600px;
        position: relative;
        z-index: 2;
    }

    #introduccion h1 {
        font-size: 2.2em;
        transition: transform 0.3s ease;
    }

    #introduccion:hover h1 {
        transform: translateY(-15px);
    }

    #introduccion p {
        display: block;
        font-size: 1.1em;
        margin-top: 1em;
        line-height: 1.3;
        opacity: 0.7;
        transform: translateY(10px);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #introduccion:hover p {
        transform: translateY(0);
        opacity: 1;
    }

    .feria {
        font-size: 1.8em;
    }

    #info {
        grid-template-columns: repeat(6, 1fr);
        gap: 1.5em;
        max-width: 850px;
    }

    #info article {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    #info h2 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    #info article:nth-of-type(1) {
        grid-column: span 2;
    }

    #info article:nth-of-type(2) {
        grid-column: span 2;
    }

    #info article:nth-of-type(3) {
        grid-column: span 2;
    }

    #info article:nth-of-type(4) {
        display: block;
        grid-column: 2 / 4;
    }

    #info article:nth-of-type(5) {
        display: block;
        grid-column: 4 / 6;
    }

    .cosplay,
    #charlas {
        display: block;
        grid-column: 2;
    }

    #galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        max-width: 100%;
    }

    #galeria>.color2,
    #galeria>div:nth-of-type(4) {
        display: block;
    }

    #galeria>article.impresion3d {
        grid-column: 2 / 3;
    }

    #galeria>#actividades {
        grid-column: 3 / 5;
        grid-row: 1;
        height: 100%;
    }

    #galeria>.color2 {
        grid-column: 3 / 4;
        grid-row: 2;
    }

    #galeria>div:nth-of-type(4) {
        grid-column: 4 / 5;
        grid-row: 2;
    }

}